.position {
  display: flex;
}
.carousel-ui {
  width: 300px;
}
.contentStyle {
  margin: 0;
  height: 350px;
  color: #fff;
  line-height: 160px;
  text-align: center;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: inherit;
  left: 10px;
  z-index: 2;
  color: #000;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  right: 10px;
  z-index: 2;
  color: #000;
}

.refills {
  margin-top: -25px;
  margin-left: 50px;
  width: 100%;
}

.key-value-pair {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .key {
    font-weight: bold;
    flex: 1;
    text-align: left;
  }
  .dot {
    margin: 0 5px;
  }
  .value {
    flex: 1;
    text-align: left;
    margin-left: 180px;
  }
}

.ant-drawer-close {
  position: absolute;
  right: 0;
}
.ant-drawer .ant-drawer-header {
    padding-top: 0px;
    padding-bottom: 0px;
}